<cloudServices xmlns="http://wso2.com/carbon/cloud/mgt/services">
    <cloudService name="WSO2 Stratos Manager">
		<link>https://<%= stratos_domain %></link>
    </cloudService>
    <cloudService name="WSO2 Stratos Application Server" default="true">
		<label>Application Server</label>
        <link>https://<%= as_subdomain %>.<%= stratos_domain %></link>
        <icon>
            https://<%= stratos_domain %>/cloud-services-icons/appserver.gif
        </icon>
        <description>Application Server in the cloud.</description>
		<productPageURL>http://wso2.com/products/application-server/</productPageURL>
    </cloudService>
    <cloudService name="WSO2 Stratos Data Services Server" default="true">
		<label>Data Services Server</label>
      <link>https://<%=  dss_subdomain %>.<%= stratos_domain %></link>
      <icon>
        https://<%= stratos_domain %>/cloud-services-icons/ds.gif
      </icon>
      <description>Data Services Server in the cloud.</description>
	  <productPageURL>http://wso2.com/products/data-services-server/</productPageURL>
    </cloudService>
	<cloudService name="WSO2 Stratos Mashup Server" default="true">
		<label>Mashup Server</label>
        <link>https://<%= ms_subdomain %>.<%= stratos_domain %></link>
        <icon>
            https://<%= stratos_domain %>/cloud-services-icons/mashup.gif
        </icon>
        <description>Mashup Server in the cloud.</description>
		<productPageURL>http://wso2.com/products/mashup-server/</productPageURL>
    </cloudService>
    <cloudService name="WSO2 Stratos Identity" default="true">
		<label>Identity Server</label>
        <link>https://<%= is_subdomain %>.<%= stratos_domain %></link>
        <icon>
            https://<%= stratos_domain %>/cloud-services-icons/identity.gif
        </icon>
        <description>Identity in the cloud.</description>
		<productPageURL>http://wso2.com/products/identity-server/</productPageURL>
    </cloudService>
    <cloudService name="WSO2 Stratos Governance" default="true">
		<label>Governance Registry</label>
        <link>https://<%= governance_subdomain %>.<%= stratos_domain %></link>
        <description>Governance in the cloud.</description>
        <icon>
            https://<%= stratos_domain %>/cloud-services-icons/governance.gif
        </icon>
		<productPageURL>http://wso2.com/products/governance-registry/</productPageURL>
    </cloudService>
    <cloudService name="WSO2 Stratos Gadget Server" default="true">
		<label>Gadget Server</label>
        <link>https://<%= gs_subdomain %>.<%= stratos_domain %></link>
        <icon>
			https://<%= stratos_domain %>/cloud-services-icons/gadget.gif
        </icon>
        <description>Gadgets in the cloud.</description>
		<productPageURL>http://wso2.com/products/gadget-server/</productPageURL>
    </cloudService>
	<cloudService name="WSO2 Stratos Business Activity Monitor" default="true">
		<label>Business Activity Monitor</label>
        <link>https://<%= bam_subdomain %>.<%= stratos_domain %></link>
        <icon>
            https://<%= stratos_domain %>/cloud-services-icons/bam.gif
        </icon>
        <description>Business Activity Monitor in the cloud.</description>
		<productPageURL>http://wso2.com/products/business-activity-monitor/</productPageURL>
	</cloudService>
    <cloudService name="WSO2 Stratos Business Process Server" default="true">
		<label>Business Process Server</label>
      <link>https://<%= bps_subdomain %>.<%= stratos_domain %></link>
      <icon>
        https://<%= stratos_domain %>/cloud-services-icons/bps.gif
      </icon>
      <description>Business Process Server in the cloud.</description>
	  <productPageURL>http://wso2.com/products/business-process-server/</productPageURL>
    </cloudService>
	<cloudService name="WSO2 Stratos Business Rules Server" default="true">
		<label>Business Rules Server</label>
        <link>https://<%= brs_subdomain %>.<%= stratos_domain %></link>
        <icon>
            https://<%= stratos_domain %>/cloud-services-icons/brs.gif
        </icon>
        <description>Business Rules Server in the cloud.</description>
		<productPageURL>http://wso2.com/products/business-rules-server/</productPageURL>
	</cloudService>
    <cloudService name="WSO2 Stratos Enterprise Service Bus" default="true">
		<label>Enterprise Service Bus</label>
      <link>https://<%= esb_subdomain %>.<%= stratos_domain %></link>
      <icon>
        https://<%= stratos_domain %>/cloud-services-icons/esb.gif
      </icon>
      <description>Enterprise Service Bus in the cloud.</description>
	  <productPageURL>http://wso2.com/products/enterprise-service-bus/</productPageURL>
    </cloudService>
    <cloudService name="WSO2 Stratos Complex Event Processing Server" default="true">
		<label>Complex Event Processing Server</label>
        <link>https://<%= cep_subdomain %>.<%= stratos_domain %></link>
        <icon>
            https://<%= stratos_domain %>/cloud-services-icons/cep.png
        </icon>
        <description>Complex Event Processing Server in the cloud.</description>
		<productPageURL>http://wso2.com/products/complex-event-processing-server/</productPageURL>
    </cloudService>
    <cloudService name="WSO2 Stratos Message Broker" default="true">
		<label>Message Broker</label>
        <link>https://<%= mb_subdomain %>.<%= stratos_domain %></link>
        <icon>
            https://<%= stratos_domain %>/cloud-services-icons/mb.png
        </icon>
        <description>Message Broker in the cloud.</description>
		<productPageURL>http://wso2.com/products/message-broker/</productPageURL>
    </cloudService>
</cloudServices>
